<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialga_idle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,295},{268,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,297}}</string>
				<key>sourceSize</key>
				<string>{268,297}</string>
			</dict>

			<key>dialga_idle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,295},{269,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,297}}</string>
				<key>sourceSize</key>
				<string>{269,297}</string>
			</dict>

			<key>dialga_idle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,593},{266,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,297}}</string>
				<key>sourceSize</key>
				<string>{266,297}</string>
			</dict>

			<key>dialga_idle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,593},{266,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,297}}</string>
				<key>sourceSize</key>
				<string>{266,297}</string>
			</dict>

			<key>dialga_idle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,0},{259,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,297}}</string>
				<key>sourceSize</key>
				<string>{259,297}</string>
			</dict>

			<key>dialga_idle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,0},{259,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,297}}</string>
				<key>sourceSize</key>
				<string>{259,297}</string>
			</dict>

			<key>dialga_idle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,298},{253,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,296}}</string>
				<key>sourceSize</key>
				<string>{253,296}</string>
			</dict>

			<key>dialga_idle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,595},{252,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,297}}</string>
				<key>sourceSize</key>
				<string>{252,297}</string>
			</dict>

			<key>dialga_idle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,891},{266,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,297}}</string>
				<key>sourceSize</key>
				<string>{266,297}</string>
			</dict>

			<key>dialga_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,0},{275,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,294}}</string>
				<key>sourceSize</key>
				<string>{275,294}</string>
			</dict>

			<key>dialga_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,891},{280,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,297}}</string>
				<key>sourceSize</key>
				<string>{280,297}</string>
			</dict>

			<key>dialga_idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,593},{277,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,297}}</string>
				<key>sourceSize</key>
				<string>{277,297}</string>
			</dict>

			<key>dialga_idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{283,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,294}}</string>
				<key>sourceSize</key>
				<string>{283,294}</string>
			</dict>

			<key>dialga_idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,891},{280,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,297}}</string>
				<key>sourceSize</key>
				<string>{280,297}</string>
			</dict>

			<key>dialga_idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,891},{280,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,297}}</string>
				<key>sourceSize</key>
				<string>{280,297}</string>
			</dict>

			<key>dialga_idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,593},{282,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,297}}</string>
				<key>sourceSize</key>
				<string>{282,297}</string>
			</dict>

			<key>dialga_idle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{283,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,297}}</string>
				<key>sourceSize</key>
				<string>{283,297}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1083,1189}</string>
			<key>textureFileName</key>
			<string>dialga_idle.png</string>
			</dict>
		</dict>
</plist>