<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bola_fuego_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,42},{59,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,41}}</string>
				<key>sourceSize</key>
				<string>{59,41}</string>
			</dict>

			<key>bola_fuego_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,41}}</string>
				<key>sourceSize</key>
				<string>{70,41}</string>
			</dict>

			<key>bola_fuego_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,42},{62,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,40}}</string>
				<key>sourceSize</key>
				<string>{62,40}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{123,123}</string>
			<key>textureFileName</key>
			<string>bola_fuego_2.png</string>
			</dict>
		</dict>
</plist>