<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>charizar_ataque1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,0},{122,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,0},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{135,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{135,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{135,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>charizar_ataque1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{135,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,62}}</string>
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
            <string>charizar_ataque1.png</string>
			<key>size</key>
			<string>{846,95}</string>
			<key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d70b2498d34a6ce27ecd669974329db:d7e2a12efd5d53dc799168586e11d70e:b8e96a3b0eea864d9c309cc779337e95$</string>
            <key>textureFileName</key>
			<string>charizar_ataque1.png</string>
		</dict>
	</dict>
</plist>