<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jugador_quieto_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>jugador_quieto_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,24},{17,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,26}}</string>
				<key>sourceSize</key>
				<string>{17,26}</string>
			</dict>

			<key>jugador_abajo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,25},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>jugador_arriba_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{17,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,26}}</string>
				<key>sourceSize</key>
				<string>{17,26}</string>
			</dict>

			<key>jugador_izquierda_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,27},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

			<key>jugador_izquierda_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,24},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>

			<key>jugador_quieto_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,27},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

			<key>jugador_abajo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,24},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

			<key>jugador_arriba_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,0},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

			<key>jugador_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,27},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>

			<key>jugador_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,0},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

			<key>jugador_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,23}}</string>
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>